<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>413757939465-uodt66pjajmmnnsugd7l6t6df63ugps6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.413757939465-uodt66pjajmmnnsugd7l6t6df63ugps6</string>
	<key>API_KEY</key>
	<string>AIzaSyBHRPWjBMEYZtH_m7GxiwbY_p_vr0ZwIhg</string>
	<key>GCM_SENDER_ID</key>
	<string>413757939465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.youtubeshare</string>
	<key>PROJECT_ID</key>
	<string>share-e65ca</string>
	<key>STORAGE_BUCKET</key>
	<string>share-e65ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413757939465:ios:7ebcfaa1078f7467c87dd8</string>
	<key>DATABASE_URL</key>
	<string>https://share-e65ca.firebaseio.com</string>
</dict>
</plist>